#sessionUserInfo {
    margin: 0 auto 20px auto;
    padding: 2px 0 2px 0;
    background-color: var(--footer-bg-color);
}

.sessionInfoFont {
    font-size: 13px;
    font-family: sans-serif, Tahoma, Verdana;
    color: rgba(197, 195, 195, 0.5);
    text-align: center;
}

.fontEthnocentric {
    font-size: 20px;
    font-family: ethnocentric, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgba(200, 200, 200, 1);
}

.btnStyle {
    background: none;
    border: none;
}

.btnStyle:hover {
    font-size: 110%;
}