.orderProcessingCard {
    max-height: fit-content;
    width: fit-content;
    margin: 10px 10px;
    padding: 10px 10px;
    background-color: rgb(240, 240, 240);
    box-shadow: 0 10px 18px 0 rgba(0,0,0,0.8);
    transition: 0.3s;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

label {
    font-weight: bold;
    font-size: 18px;
    margin: 30px 3px 20px 3px;
}

.dateLabel {
    font-size: 16px;
    margin: 10px 3px;
}

#pickDateButton, #cancelButton, #confirmButton {
    margin: 30px 3px;
    white-space: nowrap;
}

#pickDateButton:hover, #cancelButton:hover, #confirmButton:hover {
    font-weight: bolder;
}