<div class="w3-container w3-content">

    <div class="orderProcessingCard">

        <div class="pageTitle">
            <h4>Your order is in progress. Just a few more clicks..</h4>
        </div>

        <div class="datePicker">

            <label>Pick the start and the end date of your rental:</label>

            <form [formGroup]="formDatePicker" (ngSubmit)="onSubmitDate()">

                <div class="rentalDate">
                    <div class="fieldStartDate">
                        <label> Start date: </label>
                        <input type="date" formControlName="startDate">
                    </div>  
                    <div class="fieldEndDate">
                        <label> End date: </label>
                        <input type="date" formControlName="endDate">
                    </div>    
                </div>
                    
                <div class="datePickerButtons">
                    <button id="pickDateButton" type="submit">
                        Pick date
                    </button>

                    <button id="cancelButton"><a routerLinkActive="active" routerLink="/carlist">
                        Cancel
                        </a>
                    </button>
                </div>

            </form>

        </div>


        <div class="paymentMethod">
            <label>Select a payment method</label>
        </div>


        <div class="orderSummary">
            <label>Ordering details</label>
            <p>Selected date: ...</p>
            <p>Selected payment method: ...</p>
            <button id="confirmButton" (click)="confirmOrder()"> Confirm order! </button>
        </div>


    </div>

</div>
