.logoText {
    text-align: center;
    font-size: 110px;
    font-family: timberline,sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgba(255, 252, 252, 1);
    margin-top: 8px;
    margin-bottom: 8px;
    width: 100%;
}

.homepageLinks {
    text-align: center;
    font-size: 18px;
    font-family: ethnocentric, sans-serif;
    font-weight: 200;
    font-style: normal;
    color: rgba(255, 252, 252, 1);
    margin-top: 15px;
    margin-bottom: 6px;
}

.simpleLink:hover {
    font-size: 110%;
    text-shadow: 1px 1px 4px rgb(206, 206, 206);
}