<div class="w3-content" style="max-width:500px">

  <app-logo></app-logo>
  
<div class="homePageCard w3-content">
  <div class="cardPaddingContainer">
  <div class="welcomeText w3-sansitaSwashed w3-container w3-mobile w3-content">
    <p>Hop in and follow the flow of <span class="starsText">stars</span><br>
      safe & comfy in your car<br>
      provided by<br>
      <span class="InterstellarCarRentalText">Interstellar CarRental!</span>
    </p>
  </div>
  <br>
  <div class="homepageLinks w3-content" >
    <p><a routerLinkActive="active" routerLink="/carlist" class="simpleLink">| Cars |</a></p>
    <p><a routerLinkActive="active" routerLink="/" class="simpleLink">| The company |</a></p>
    <p><a routerLinkActive="active" routerLink="/" class="simpleLink">| Contact us now |</a></p>
    <p><a routerLinkActive="active" routerLink="/" class="simpleLink">| Terms & Conditions |</a></p>
  </div>
  </div>
</div>

</div>