<div class="w3-content" style="max-width:500px">

  <div class="logoImg w3-container">
    <img src="\assets\images\logoImg\logoImg.gif" alt="Logo">
  </div>
  
<div class="w3-content homePageCard">
  <div class="welcomeText w3-sansitaSwashed w3-container w3-mobile w3-content">
    <p>Hop in and follow the flow of <span class="starsText">stars</span><br>
      safe & comfy in your car<br>
      provided by<br>
      <span class="InterstellarCarRentalText">Interstellar CarRental!</span>
    </p>
  </div>
<br>
  <div class="homepageLinks w3-container" >
    <p><a routerLinkActive="active" routerLink="/carlist" class="simpleLink">| Cars |</a></p>
    <p>| The company |</p>
    <p>| Contact us now |</p>
    <p>| Terms & Conditions |</p>
  </div>
</div>

</div>