<div id="homeContainer">
  
    <div class="logoText">
            <span>Interstellar CarRental</span>
    </div>

    <div id="appLogo">
        <app-logo></app-logo>
    </div>

    <div class="homepageLinks">
            <p><a routerLinkActive="active" routerLink="/carlist" class="simpleLink">Cars</a></p>
            <p><a routerLinkActive="active" routerLink="/" class="simpleLink">The company</a></p>
            <p><a routerLinkActive="active" routerLink="/" class="simpleLink">Contact us now</a></p>
            <p><a routerLinkActive="active" routerLink="/" class="simpleLink">Terms & Conditions</a></p>
    </div>

</div>