.InterstellarCarRentalText {
    font-size: 4.5vw;
    font-family: timberline,sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgba(255, 252, 252, 1);
    margin-top: 6%;
    margin-bottom: 8%;
}

.homepageLinks {
    text-align: center;
    font-size: 0.7vw;
    font-family: ethnocentric, sans-serif;
    font-weight: 200;
    font-style: normal;
    color: rgba(255, 252, 252, 1);
    margin-top: 4%;
    margin-bottom: 6%;
}

.simpleLink:hover {
    font-size: 110%;
    text-shadow: 1px 1px 4px rgb(206, 206, 206);
}