<div class="w3-container w3-content">

    <div class="confirmationCard">

        <div class="pageTitle">
            <h3>Confirmation</h3>
            <h4>Thank you for renting our interstellar car!</h4>
            <h5>You are going to receive a confirmation e-mail with your invoice attached. Please keep your invoice in a secure place (e.g. on your computer or as a print out).</h5>
        </div>

        <div class="rentDetails">
            <h4>Rent number: </h4>
            ...
            ...
            ...
            ...
        </div>

        <div class="confirmationPageButtons">
            <button id="rentHistoryBtn" (click)="goToRentHistory()"> My rent history </button>
            <button id="carListBtn" (click)="goToCarList()"> See other cars </button>
            <button id="confirmErrorBtn" (click)="goToConfirmErrorPage()"> I have a problem </button>
        </div>

</div>