<div class="mainPageContainer">

    <div class="pageTitle">
        <h2>Choose what suits you well:</h2>
    </div>

    <div class="searchBar">
        <div class="form-group">
            <label for="search-text">Search for:</label>
            <input type="email" class="form-control" id="search-text" aria-describedby="search-text"
            [(ngModel)]="searchText" placeholder="Enter text to search for" autofocus>
        </div>
    </div>

    <div class="carListCard" *ngFor="let car of carList | searchFilter: searchText">

        <div id="imageContainer">
            <img id="productImg" src="{{ car.imgURL }}" alt="Space-car image">
        </div>

        <div class="carListText">
            <p> {{ car.modelName }} </p>
            <p> Number of seats: {{ car.seatNumber }} </p>
            <p> {{ availability }} </p>
            <p> {{ car.basicPrice | currency }} </p>
        </div>

        <div class="carListButtons">
            <button id="detailsBtn" (click)="goToCarDetails(car)"> Details </button>
            <button id="rentBtn" (click)="gotToOrderProcessingPage()" [disabled]="!car.availableForRent"> Rent Me </button>
        </div>

    </div>

</div>