.pageTitle {
    margin: 10px 10px;
    color: rgb(240, 240, 240);
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

.carDetailsCard {
    max-height: fit-content;
    width: fit-content;
    margin: 20px 10px;
    padding: 10px 10px;
    background-color: rgb(240, 240, 240);
    box-shadow: 0 10px 18px 0 rgba(0,0,0,0.8);
    transition: 0.3s;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

.detailsTextContainer {
    margin: 3px;
}

.specTitle {
    margin: 25px 5px 20px 0;
}

.imageContainer {
    width: fit-content;
}

#productImg {
    margin-bottom: 20px;
    width: 100%;
    max-width: 350px;
    height: auto;
}

label {
    font-weight: bold;
}

.carDetailsCard p {
    line-height: 1;
}

.carDetailsButtons {
    margin: 20px 10px;
    white-space: nowrap;
}

#rentBtn, #goBackBtn {
    margin-left: 3px;
    margin-right: 3px;
}

#rentBtn:hover, #goBackBtn:hover {
    font-weight: bolder;
}