.appContainer {
    margin: 0;
}

.homeButtons {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.fontEthnocentric {
    font-size: 15px;
    font-family: ethnocentric, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgba(200, 200, 200, 1);
}

.btnStyle {
    padding: 0 5px 0 5px;
    color: var(--text-link);
}

.btnStyle:hover {
    font-size: 110%;
}

#homeIcon {
	position: relative;
    width: 28.507px;
    height: 26.21px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_1 {
	fill: rgba(241,201,149,1);
}
.Path_1 {
	overflow: visible;
	position: absolute;
    width: 22.804px;
    height: 24.704px;
	left: 2.852px;
	top: 1.506px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2 {
	fill: rgba(241,201,149,1);
}
.Path_2 {
	overflow: visible;
	position: absolute;
    width: 28.507px;
    height: 14.81px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}

#routerOutletBody {
    margin: 0;
    margin-top: 40px;
    margin-bottom: 20px;
}