.mainPageContainer {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
}

.pageContainer {
    width: 80%;
}

#routerOutletBody {
    width: 100%;
    margin: 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}

.mainBgCard {
    position: relative;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#sessionUserInfo {
    position: relative;
    margin-left: 40rem;
    margin-right: 40rem;
}

.homeButtons {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 1%;
    margin-bottom: 4%;
}

.fontEthnocentric {
    font-size: 20px;
    font-family: ethnocentric, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgba(200, 200, 200, 1);
}

.btnStyle:hover {
    font-size: 22px;
}

#homeIcon {
	position: relative;
    width: 28.507px;
    height: 26.21px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_1 {
	fill: rgba(241,201,149,1);
}
.Path_1 {
	overflow: visible;
	position: absolute;
    width: 22.804px;
    height: 24.704px;
	left: 2.852px;
	top: 1.506px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2 {
	fill: rgba(241,201,149,1);
}
.Path_2 {
	overflow: visible;
	position: absolute;
    width: 28.507px;
    height: 14.81px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}