<div class="w3-container w3-right-align">
  <button class="homeButton w3-right-align w3-button w3-black w3-padding-small"><a routerLinkActive="active" routerLink="/home">
    Home
    </a>
  </button>
  
  <button class="regButton w3-right-align w3-button w3-black w3-padding-small"><a routerLinkActive="active" routerLink="/register">
    Register
    </a>
  </button>

  <button class="loginButton w3-right-align w3-button w3-black w3-padding-small"><a routerLinkActive="active" routerLink="/login">
    Login
  </a>
  </button>

  <button class="logoutButton w3-right-align w3-button w3-black w3-padding-small"><a (click)="logout()">
    Logout
  </a>
  </button>
</div>

<div class="container routerOutletBody">
  <router-outlet></router-outlet>
</div>