<div id="dashboardComponent">
    <h2>DASHBOARD</h2>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <a href="#" class="navbar-brand">CARS action</a>
        <div class="navbar-nav mr-auto">
            <ul>
                <li class="nav-item">
                    <a routerLink="carlist" class="nav-link">View Cars</a>
                </li>
                <li class="nav-item">
                    <a routerLink="create-car" class="nav-link">Create Car</a>
                </li>
                <li class="nav-item">
                    <a routerLink="update-car/:vehicleID" class="nav-link">Update Car</a>
                </li>
                <li class="nav-item">
                    <a routerLink="delete-car/:vehicleID" class="nav-link">Delete Car</a>
                </li>
            </ul>
        </div>
      </nav>
</div>

