#registerContainer {
    display: flex;
    justify-content: center;
}

.allRegFields {
    color: rgb(0,0,0);
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
}

.fieldUsername, .fieldPassword, .fieldFirstName, .fieldLastName {
    margin-top: 8px;
    margin-bottom: 8px;
}

.regFormCredentials {
    margin-top: 20px;
    margin-bottom: 20px;
}

.regFormName {
    margin-top: 20px;
    margin-bottom: 20px;
}

.regFormButtons {
    margin-top: 30px;
    margin-bottom: 40px;
}

#registerBtn:hover, #cancelBtn:hover {
    font-weight: bolder;
}

#registerBtn, #cancelBtn {
    margin-left: 3px;
    margin-right: 3px;
}

.registerHeader, label {
    color: rgb(0, 0, 0);
}

.registerHeader {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 60px;
    font-size: 20px;
}

#regFormStatus {
    color: rgb(199, 144, 27);
    font-weight: bold;
    margin-top: 60px;
    margin-bottom: 20px;
}


input {
    background-color: rgba(187, 187, 187, 0.8);
    border: none;
}