.loginCard {
    max-height: fit-content;
    max-width: fit-content;
    background-color: rgb(240, 240, 240);
    box-shadow: 0 10px 18px 0 rgba(0,0,0,0.8);
    transition: 0.3s;
    margin-top: 20px;
    margin-bottom: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1rem;
}

.loginContainer {
    padding: 30px;
}

hr {
    border-top: 2px dotted black;
}

.loginFormCredentials {
    color: rgb(0,0,0);
    display: block;
    margin-bottom: 30px;
}

.fieldUsername, .fieldPassword {
    margin-top: 5px;
    margin-bottom: 5px;
}

#loginButton, #cancelButton {
    margin-left: 3px;
    margin-right: 3px;
}

#loginButton:hover, #cancelButton:hover {
    font-weight: bolder;
}

.loginHeader, label {
    color: rgb(0, 0, 0);
}

.loginHeader {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 60px;
}

#formStatus {
    color: rgb(199, 144, 27);
    margin-top: 60px;
    margin-bottom: 20px;
    font-weight: bold;
}

input {
    background-color: rgba(187, 187, 187, 0.8);
    border: none;
}