#loginContainer {
    display: flex;
    justify-content: center;
}

.loginFormCredentials {
    color: rgb(0,0,0);
    display: block;
    margin-bottom: 30px;
}

.fieldUsername, .fieldPassword {
    margin-top: 5px;
    margin-bottom: 5px;
}

#loginButton, #cancelButton {
    margin-left: 3px;
    margin-right: 3px;
}

#loginButton:hover, #cancelButton:hover {
    font-weight: bolder;
}

.loginHeader, label {
    color: rgb(0, 0, 0);
}

.loginHeader {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 60px;
}

#formStatus {
    color: rgb(199, 144, 27);
    margin-top: 60px;
    margin-bottom: 20px;
    font-weight: bold;
}

input {
    background-color: rgba(187, 187, 187, 0.8);
    border: none;
}