<div class="pageContainer container">
    <div class="loginCard loginContainer">
    
        <div class="loginHeader">
            <h4>Login</h4>
            <hr>
        </div>

        <div class="alreadyLoggedInInfo" *ngIf="sessionUser !== null">
            "You are logged in as {{ sessionUser.username }}. If you would like to log in with different credentials, please log out first and log in again."
        </div>

        <div class="loginBody" *ngIf="sessionUser === null">

            <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">

                <div class="loginFormCredentials">
                    <div class="fieldUsername">
                        <label> Username: </label>
                        <input type="text" formControlName="username" required>
                    </div>  
                    <div class="fieldPassword">
                        <label> Password: </label>
                        <input type="password" formControlName="password" required>
                    </div>    
                </div>
                    
                <div class="loginFormButtons">
                    <button id="loginButton" type="submit" [disabled]="!formLogin.valid">
                        Login
                    </button>

                    <button id="cancelButton"><a routerLinkActive="active" routerLink="/home">
                        Cancel
                        </a>
                    </button>
                </div>

                <div id="formStatus">
                    <p> Form status: {{ formLogin.status }} </p>
                </div>

            </form>

        </div>

    </div>
</div>